<div class="artist-albums">
    <h3>Álbumes del artista</h3>
    <ng-container *ngIf="!isLoading; else loading">
        <div *ngIf="albums.length > 0; else noAlbums">
            <div class="album-card" *ngFor="let album of albums">
                <img [src]="album.cover || 'assets/images/default-album.png'" [alt]="album.title" />
                <h3>{{ album.title }}</h3>
                <p *ngIf="album.releaseDate">Lanzamiento: {{ album.releaseDate }}</p>
            </div>
        </div>

        <ng-template #noAlbums>
            <p>Este artista no tiene álbumes disponibles.</p>
        </ng-template>
    </ng-container>

    <ng-template #loading>
        <p>Cargando álbumes...</p>
    </ng-template>
</div>