<div class="artist-albums">
    <h3>Álbumes del artista</h3>
    <ng-container *ngIf="!isLoading; else loading">
        <div *ngIf="albums.length > 0; else noAlbums">
            <div class="albums-container">

                <div class="album-card" *ngFor="let album of albums" (click)="navigateToAlbumDetail(album.id)">
                    <h4>{{ album.title }}</h4>
                    <p class="album-description">{{album.description}}</p>
                    <span class="album-price">{{ album.price | currency:album.currency }}</span>
                    <span class="album-tags">{{ album.genres }}</span>
                    <p *ngIf="album.releaseDate" class="album-release-date">{{ album.releaseDate }}</p>
                </div>
            </div>
        </div>

        <ng-template #noAlbums>
            <p>Este artista no tiene álbumes disponibles.</p>
        </ng-template>
    </ng-container>

    <ng-template #loading>
        <p>Cargando álbumes...</p>
    </ng-template>
</div>