.artist-albums {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    max-width: 900px;
    overflow-x: auto;
}

.albums-container {
    display: flex;
    overflow-x: auto;
    overflow-y: visible;
    gap: 1rem;
    padding: 0.5rem;
    padding-bottom: 1rem;
}

.album-card {
    flex: 0 0 auto;
    width: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(145deg, #f0f4f8, #e6edf5);
    border-radius: 12px;
    border: 1px solid #0077cc;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    overflow: hidden;
}


.album-card h4 {
    margin: 0;
    font-size: 16px;
    padding: 0.4rem 0.2rem;
    border-radius: 8px 8px 0 0;
    background-color: #0077cc;
    color: white;
    box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.album-description {
    font-size: 14px;
    margin: 0 0.5rem;
    margin-top: 0.4rem;
    color: #5a5a5a;
    flex-grow: 1;
}

.album-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #0077cc;
}

.album-release-date {
    font-size: 0.9rem;
    color: #555;
    margin: 0 0.4rem 0.4rem auto;
}

.album-tags {
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
}
.album-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}