section{
  display: flex;
  flex-direction: column;
  height: 70vh;
}

.profile-page {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.profile-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
  object-fit: cover;
}

.profile-role {
  margin-top: 0.5rem;
  font-weight: 600;
}

.profile-message {
  font-size: 1.1rem;
  text-align: center;
  max-width: 320px;
}

.profile-actions{
  margin: 1.5rem;
  display: flex;
  align-self: flex-end;
  justify-self: flex-start;
  justify-content: flex-end;
  gap: 1rem;
}

.profile-actions button {
 padding: 0.6rem 1.4rem;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(135deg, #ff4d4d, #d90000)
}

.profile-actions button:hover {
  background: linear-gradient(135deg, #ff6666, #ff1a1a);
}
