    <div class="uploadsong-page">
        <h1>¡Sube aquí tus creaciones!</h1>
        <div class="form-field">
        <label for="title">Título</label>
        <input id="title" type="text" placeholder="Escribe aquí el nombre de tu tema" formControlName="title" />
        </div>

        <div class="form-field">
        <label for="album">Álbum</label>
        <input id="album" type="text" placeholder="Escribe aquí el nombre del álbum al que pertenece tu tema" formControlName="album" />
        </div>

        <div class="form-field">
        <label for="audio">Audio</label>
        <input id="audio" type="file" accept=".mp3,.mp4,.flac,.wav" formControlName="audio" />
        </div>

        <button type="submit" class="upload-btn"> Subir Canción</button>
    </div>

        