.artists-page {
  background-color: #dfffea;
  padding: 7rem;
}

.artist-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  transition: transform 0.2s ease;
  margin: 20px;
}

.artist-card:hover {
  transform: scale(1.03);
}

.artist-card img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 0.5rem;
}

.artist-card h3 {
  font-family: sans-serif;
}
