.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 0.75rem 2rem;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 200;
}

.logo {
  font-weight: 800;
  font-size: 36px;
  font-family: sans-serif
}

.search-bar {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-bar input {
  width: 250px;
  padding: 0.4rem 0.75rem;
  border: none;
  border-radius: 20px 0 0 20px;
  background-color: #f4f0f8;
  outline: none;
  font-size: 0.9rem;
}

.search-bar button {
  background-color: #f4f0f8;
  border: none;
  border-radius: 0 20px 20px 0;
  padding: 0.4rem 0.75rem;
  cursor: pointer;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.actions button {
  background: none;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
}
