.nav-bar {
  background: #cccdcc;
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  font-weight: bold;

  /* Sombras:*/
  box-shadow:
    0 5px 10px rgba(0, 0, 0, 0.1),   
    0 -5px 10px rgba(0, 0, 0, 0.05); 
}

.nav-bar a {
  text-decoration: none;
  color: black;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -0.75%;
  line-height: 36px;
}

.nav-bar a:hover {
  cursor: pointer;
  text-decoration: underline;
}