<h2 mat-dialog-title class="dialog-title">
    Confirmar eliminación
</h2>

<mat-dialog-content class="dialog-content">
    ¿Seguro que deseas eliminar al usuario <b class="username">{{ data.name }}</b>?
    <br />
    Esta acción no se puede deshacer.
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
    <button mat-stroked-button (click)="onCancel()" class="btn-cancel">
        Cancelar
    </button>

    <button mat-flat-button (click)="onConfirm()" class="btn-delete">
        Eliminar
    </button>
</mat-dialog-actions>